@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
:root {
	--red: orange;
	--white: #ffffff;
	--black: #000000;
}
.border{
	width: 160px;
	height: 5px;
	background:orange;
	margin:50px auto;
	margin-bottom:-10px;
  }
 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:Georgia;
    line-height: 1.5;
}
.border1
{
	width: 160px;
	height: 5px;
	background:orange;
	margin:50px auto;
	margin-bottom:10px;
  }
h1{
    padding-top: 150px;
    height: 20vh;
    font-size: 50px;
    text-align: center;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 1rem;
    padding: 1rem;
    border: 2px solid whitesmoke;
     box-shadow: 0 .3rem .5rem dimgrey;
}
.contact-info span .fas{
    font-size: 40px;
    padding-bottom: 0.9rem;
    color:orange;
}
.contact-info span .fas:hover{
    font-size: 40px;
    padding-bottom: 0.9rem;
    color:orange;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    font-size: 20px;
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;

}
.contact-form form{
    padding-bottom: 1rem;
    padding: 1rem;
    border: 2px solid whitesmoke;
     box-shadow: 0 .3rem .5rem rgb(128, 112, 112);
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
    border-bottom: 1px solid black;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background:orange;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity: 0.8;
    background: black;
}
.contact-form > div img{
    margin-top: 1rem;
    width: 150%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
    border-bottom: 1px solid white;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color:white;
    background-color: orange;
    border: 2px solid orange;    
}

@media screen and (min-width: 768px){
    h3{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .contact-bg .text{
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}
.copyright
{
    font-size: 18px;
    width: 100%;
    background: #181818;
    padding: 8px;
    text-align: center;
    color: #999;
}